<tr <%= 'class=deleted' if event&.deleted? %>>
  <td><%= event&.title %></td>
  <td><%= date_format(event.starts_at) %></td>
  <td><%= time_format(event.starts_at) %></td>
  <td><%= event&.contact_name %></td>
  <td><%= event&.sponsor_name %></td>
  <td><%= link_to "Edit", edit_admin_dashboard_event_path(event), class: "btn btn-primary btn-sm" %></td>
  <td>
    <% unless event&.deleted? %>
      <%= button_to "Delete", admin_dashboard_event_path(event), method: :delete, class: "btn btn-danger btn-sm" %>
    <% end %>
  </td>
</tr>
