<div class="nav">
  <div class="row">
    <div class="col-md-8" id="title">
      <%= link_to Site.first&.name, root_url %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <%= link_to "Add New Event",
                  "#",
                  data: { toggle: "modal", target: "#new-event-modal" },
                  id: "new-event-button",
                  class: "btn btn-danger" if can_add_new_events? %>
      <%= link_to "Manage My Events",
                  my_created_events_path,
                  id: "manage-events-button",
                  class: "btn btn-primary" if can_manage_events? %>
      <%= link_to reminders_button_text,
              "#",
              data: { toggle: "modal", target: "#new-subscription-modal" },
              class: "btn btn-info" if can_subscribe_to_reminder_emails? %>
      <%= mail_to Site.first&.support_email,
                  "Contact Support",
                  class: "btn btn-success" %>

    </div>

    <div class="col-md-4 pull-right">
      <%= render "shared/social_links" if @shareable_page %>
    </div>
  </div>
</div>