<!DOCTYPE html>
<html>
  <head>
    <title><%= Site.first&.name %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <%= yield %>
    <%= render "subscriptions/new_subscription_modal" if can_subscribe_to_reminder_emails? %>
  </body>
</html>
